
.body{
    font-family: 'Source Serif Pro', serif;
    /* background: url('./img/nubes-fondo.png'); */

}


.icon-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background-color: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: 0.3s;
}


.icon-button__badge{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background-color: red;
    align-items: center;
    border-radius: 50%;
    color: #fff;

}

.titulo-principal{
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

.titulo-principal-blanco{
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
}

.titulo-secundario{
    font-size: 22px;
    font-style: italic;
    color: #000;
}

.titulo-secundario-2{
    font-size: 40px;
    font-style: bold;
    color: #000;
    text-shadow: 2px 2px 2px rgb(0, 132, 255);
}

.logo{
    display: block;
    margin: auto;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.contenedor .card{
    width: 350px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition:  all 0.3s;
}

.contenedor .card:hover{
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
}


.contenedor .card img{
    width: 330px;
    height: 330px;
}

.button{
    width: 50px;
    height: 50px;
    color: #333333;
    background-color: #fff;
    border: none;
    outline: none;
}

.button:hover{
    color: rgb(0, 132, 255);
}

.parrafo-card{
    font-size: 24px;
}

.centrado{
    text-align: center;
}


/* Home */


.fondo-coleccion{
    height:800px;
    animation: cambiarColor 5s ease-in-out infinite;
    color: #000;
}



@keyframes cambiarColor{
    0%{
        background-color: rgb(36, 187, 247);
    }
    50%{
        background-color: rgb(20, 135, 243);
    }
    100%{
        background-color: rgb(36, 187, 247);
    }
}



.contened{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contened-aside{
    display: flex;
    flex: 0.5;
    margin: auto;
    margin-left: 100px;
}

.contened-article{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    margin: auto;
    margin-top: 300px;
    margin-right: 100px;
    align-items: center;
}

.titulo-promo{
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.button-alinear{
    margin-top: 50px;

}


/*Fondo Productos*/

/* .banner{
    height: 91vw; 
}*/

.banner{
    /* content: ''; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background:url('./img/banner-chispitas.png');
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 611px;
    }
}


/*social*/

footer{
    background-color: black;
    color: #fff;
    text-align: center;
}

.pointer{
    color: #000;
}

.pointer:hover{
    color: rgb(20, 135, 243);
    cursor: pointer;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 55px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}