
.body{
    font-family: 'Source Serif Pro', serif;
    /* background: url('./img/nubes-fondo.png'); */

}


.nav-link--link{
    color: #000;
    opacity: 0.7;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

.nav-link--link:hover{
    text-decoration: none;
    color: rgb(210, 128, 248);
}

.icon-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background-color: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: 0.3s;
}


.icon-button__badge{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background-color: rgb(155, 97, 247);
    align-items: center;
    border-radius: 50%;
    color: #fff;

}

.none-decoration{
    text-decoration: none;
}
.none-decoration:hover{
    text-decoration: none;
}

.slash-2 {
    height: 0.5px;
    width: 65%;
    background-color: rgb(173, 1, 253);
}

.titulo-principal{
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(174, 128, 248);
}

.titulo-principal-blanco{
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
}

.titulo-secundario{
    font-size: 22px;
    font-style: italic;
    color: #000;
}

.titulo-secundario-2{
    font-size: 40px;
    font-style: bold;
    color: #000;
    text-shadow: 2px 2px 2px rgb(149, 91, 241);
}

.logo{
    display: block;
    margin: auto;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.contenedor .card{
    width: 350px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition:  all 0.3s;
}

.contenedor .card:hover{
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
}


.contenedor .card img{
    width: 330px;
    height: 330px;
}

.btn.button{
    width: 250px;
    height: 40px;
    display: block;
    margin: auto;
    background-color: rgb(174, 128, 248);
    transition: 0.3s;
}


.btn.button:hover{
    background-color: rgb(123, 48, 245);
} 

.parrafo-card{
    font-size: 24px;
}

.centrado{
    text-align: center;
}


/* Home */


.fondo-coleccion{
    height:800px;
    animation: cambiarColor 5s ease-in-out infinite;
    color: #000;
}

@media (max-width:768px){
    .fondo-coleccion{
        width: 100%;
    }
    .titulo-promo{
        font-size: 16px;
    }
    .imagen-gato{
        width: 350px;
        height: auto;
    }
}

@media (max-width:550px){
    .fondo-coleccion{
        width: 100%;
    }
    .titulo-promo{
        font-size: 14px;
    }
    .imagen-gato{
        display: none;
    }
}
@media (max-width:450px){
    .fondo-coleccion{
        width: 100%;
    }
    .titulo-promo{
        font-weight: 200;
        font-size: 10px;
    }
    .imagen-gato{
        display: none;
    }
}

@keyframes cambiarColor{
    0%{
        background-color: rgb(131, 74, 223);
    }
    50%{
        background-color: rgb(159, 105, 247);
    }
    100%{
        background-color: rgb(131, 74, 233);
    }
}



.contened{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contened-aside{
    display: flex;
    flex: 0.5;
    margin: auto;
    margin-left: 100px;
}

.contened-article{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    margin: auto;
    margin-top: 300px;
    margin-right: 100px;
    align-items: center;
}

.titulo-promo{
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.button-alinear{
    margin-top: 50px;

}


.banner{
    /* content: ''; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background:url('./img/banner-chispitas.png');
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 611px;
    }
}


/*social*/

footer{
    background-color: black;
    color: #fff;
    text-align: center;
}

.pointer{
    color: #000;
}

.pointer:hover{
    color: rgb(20, 135, 243);
    cursor: pointer;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 55px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/* Tabla */


.title{
    font-size: 12px;
}
.img-size{
    width: 200px;
    height: auto;
}

.table__productos > .img-size{
    width: 9rem;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 40px;
    border: none;
} 

.body-home{
    font-family: 'Source Serif Pro', serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(198,150,237);
    background: radial-gradient(circle, rgba(198,150,237,1) 0%, rgba(171,92,228,1) 53%, rgba(135,73,237,1) 100%);;
}

/* .flex-home{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.contenedor-home span{
    font-size: 120pt;
    font-weight: bold;
    position: relative;
    font-family: 'Source Serif Pro', serif;
    cursor: pointer;
    color: rgb(26, 192, 243);
    transition: all 300ms ease-in-out;
}



.contenedor-home span:hover{
    filter: contrast(250%);
}

.contenedor-home span:nth-child(1){
    color: rgb(26, 192, 243);
    animation-delay: 1s;
}
.contenedor-home span:nth-child(2){
    color: rgb(26, 192, 243);
    animation-delay: 2s;
}
.contenedor-home span:nth-child(3){
    color: rgb(26, 192, 243);
    animation-delay: 3s;
}
.contenedor-home span:nth-child(4){
    color: rgb(26, 192, 243);
    animation-delay: 4s;
}
.contenedor-home span:nth-child(5){
    color: rgb(26, 192, 243);
    animation-delay: 5s;
}
.contenedor-home span:nth-child(6){
    color: rgb(26, 192, 243);
    animation-delay: 6s;
}
.contenedor-home span:nth-child(7){
    color: rgb(26, 192, 243);
    animation-delay: 7s;
}

.btn.button1{
    background-color: rgb(26, 192, 243);
    box-shadow: 2px 12px 52px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 12px 52px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 52px 8px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.btn.button1:hover{
    background-color: rgb(139, 82, 245);
}

.flex-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px){
    .contenedor-home span{
        font-size: 80pt;
        font-weight: bold;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width:460px){
    .contenedor-home span{
        font-size: 60pt;
        font-weight: bold;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width:376px){
    .contenedor-home span{
        font-size: 55pt;
        font-weight: bold;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width:320px){
    .contenedor-home span{
        font-size: 50pt;
        font-weight: bold;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width:280px){
    .contenedor-home span{
        font-size: 40pt;
        font-weight: bold;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}